@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Animal Shelter</h1>
    <p>Get to know a few of <a href="/Animals">our animals</a>!</p>
</div>
